<div id="bottomnav">
    <a class="active bottom-nav-button" href="index">Home</a>
    <a class="bottom-nav-button" href="about">About</a>
    <a class="bottom-nav-button" href="projects">Projects</a>
    <a class="bottom-nav-button" href="art">Art</a>
    <a class="bottom-nav-button" href="contact">Contact</a>
  </div>