<div style="text-align: center">
    <img id="logo" src="img/logo.jpg">
    </div>

    <div id="topnav">
      <a class="active top-nav-button" href="index">Home</a>
      <a class="top-nav-button" href="about">About</a>
      <a class="top-nav-button" href="projects">Projects</a>
      <a class="top-nav-button" href="art">Art</a>
      <a class="top-nav-button" href="contact">Contact</a>
    </div>