<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head_content.ejs")%>
        <title>About – Marketing and Web Design</title>
        <link rel="icon" type="img/png" href="img/tablogo.png">
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="row-wrapper">    
            <div class="about-me-div fade-in">
                <p id="aboutmetitletext">A Little Bit About Me:</p>
                <p id="aboutmebodytext">
                    I recently graduated Cum Laude with Honors from the University of San Francisco with my Bachelors of Business Administration in Marketing. Quite the mouthful, I know.
                </p> 
                <p id="aboutmebodytext">
                    Throughout my years of undergraduate work at USF, I have learned a vast amount about marketing, graphic design, and programming in which I am yearning to apply in the real world. 
                    I have been seeking opportunities to allow me to grow and expand my experience in the marketing and graphic design realm. I have attached my resume down below to get a more in depth
                    look at my experience and skills.
                </p>
                <div>
                    <a href="https://docs.google.com/document/d/1eiSgyKvA4XwwgB5aIuVA2GDc9E19jEdgbNPvZ5ftvDE/edit?usp=sharing">
                        <button id="connect-with-me-button">My Resume!</button>
                    </a>
                </div>
            </div>
            <div class="fade-in-right">
                <img class="about-me-pic" src="img/aboutmepic.jpg">
            </div>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>