<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Art – Marketing and Web Design</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="bottom-div">
            <p>I enjoy creating art for fun, but I actually commissioned this piece recently which was such a great and rewarding experience.</p>
            <p>I enjoy various forms of art including: painting, drawing, and graphic design. Check out some of my work below!</p>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>