<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Art – Marketing and Web Design</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="gallery-div">
            <a href="https://www.instagram.com/p/CKxl7nIrbH2/">
                <img id="girlmagazinepic" src="img/IMG_4348.jpg">
            </a>
            <a href="https://www.instagram.com/p/CNbFBVnABkZ/">
                <img id="commissionpic" src="img/IMG_4346.jpg">
            </a>
            <a href="https://www.instagram.com/p/CgU3L19vFBC/">
                <img id="mirrorpic" src="img/IMG_4344.jpg">
            </a>
            <a href="https://www.instagram.com/p/CKugrTdLIL1/">
                <img id="stairspic" src="img/IMG_4351.jpg">
            </a>
            <a href="https://www.instagram.com/p/CMQiOnngEEV/">
                <img id="bluegirlpic" src="img/IMG_4354.jpg">
            </a>
            <a href="https://www.instagram.com/p/CKrzZS-rgDC/">
                <img id="ponytailgirlpic" src="img/IMG_4350.jpg">
            </a>
            <a href="https://www.instagram.com/p/CL7Sg_Dg4xr/">
                <img id="multiheadgirlpic" src="img/IMG_4353.jpg">
            </a>
            <a href="https://www.instagram.com/p/CLkgqKoLnwz/">
                <img id="valleypic" src="img/IMG_4347.jpg">
            </a>
            <a href="https://www.instagram.com/p/CKug0-3LC-o/">
                <img id="pugpic" src="img/IMG_4355.jpg">
            </a>
            <a href="https://www.instagram.com/p/CK0VD-fr59v/">
                <img id="pastriespic" src="img/IMG_4352.jpg">
            </a>
            <a href="https://www.instagram.com/p/CY7ZaBiPhbQ/">
                <img id="selfportraitpic" src="img/IMG_4345.jpg">
            </a>
            <a href="https://www.instagram.com/p/CKrwMxvrkF3/">
                <img id="coffeepic" src="img/IMG_4349.jpg">
            </a>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>