<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head_content.ejs")%>
        <title>Katie Massa – Marketing and Web Design</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="row-wrapper">
            <div></div>
            <img class="resized-pic fade-in-left" src="img/mainpic.jpg">
            <div class="content-div fade-in">
                <p id="sidetitletext">Hi, my name is Katie!</p>
                <p id="sidebodytext">I am a digital marketer and graphic designer based in California. 
                    <br/><br/>
                    I created this website from scratch as a side project to learn HTML and CSS while also creating a space to display my portfolio.  My goal is to keep adding more and more to it and become better at website development as well.</p>
                <div>
                    <a href="https://www.linkedin.com/in/katiemassa">
                        <button id="connect-with-me-button">Connect with me!</button>
                    </a>
                </div>
            </div>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>