<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Katie Massa – Marketing and Web Design</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="top-div">
            <img class="resized-pic" src="img/mainpic.jpg">
            <div class="content-div">
                <p id="sidetitletext">Hi, my name is Katie!</p>
                <p id="sidebodytext">I am a recent graduate from the University of San Francisco. I graduated with honors and a B.S. in Business Administration and Marketing.</p>
                <div>
                    <a href="https://www.linkedin.com/in/katiemassa">
                        <button id="connect-with-me-button">Connect with me!</button>
                    </a>
                </div>
            </div>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>