<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects – Marketing and Web Design</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="col-wrapper">
            <div class="title-projects">
                <p>Internship Marketing Projects</p>
            </div>
            <span>
                <a href="https://mailchi.mp/495c6ef9e9d2/fall2020externship">
                    <button class="proj-button">Fall 2020 Internship</button></a>
                <a href="https://mailchi.mp/37f365979723/spring-2021-externship-culmination-ceremony">
                    <button class="proj-button">Spring 2021 Internship</button></a>
            </span>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>