<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head_content.ejs")%>
        <title>Projects – Marketing and Web Design</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="col-wrapper fade-in ">
            <div class="title-projects">
                <p>Marketing Projects</p>
            </div>
            <span>
                <a href="https://mailchi.mp/495c6ef9e9d2/fall2020externship">
                    <button class="proj-button">Fall 2020 Internship</button></a>
                <a href="https://mailchi.mp/37f365979723/spring-2021-externship-culmination-ceremony">
                    <button class="proj-button">Spring 2021 Internship</button></a>
                <a href="https://drive.google.com/file/d/1bLUPsS_M68FoCaOr89ae2GShUWVn978N/view">
                    <button class="proj-button">Copywriting Example</button></a>
            </span>
        </div>
        <div>
            <div class="proj-text fade-in cascade" style="--order: 2">
                <p>Below I have attached samples of social media posts I have created for a beauty company.</p>
            </div>
            <div class="gallery-div fade-in cascade" style="--order: 3">
                <a>
                    <img src="img/sampleig1.png">
                </a>
                <a>
                    <img src="img/HairOil.png">
                </a>
                <a>
                    <img src="img/sampleig2.png">
                </a>
                </div>
                <div class="proj-text">
                    <p>Below I have attached samples of social media posts I have created for a tech company.</p>
                </div>
                <div class="gallery-div">
                <a>
                    <img src="img/sampletech1.png">
                </a>
                <a>
                    <img src="img/sampletech2.png">
                </a>
                <a>
                    <img src="img/sampletech3.png">
                </a>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>