<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head_content.ejs")%>
        <title>Projects – Marketing and Web Design</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="col-wrapper fade-in ">
            <div class="title-projects">
                Marketing Projects
            </div>
            <span>
                <a href="https://mailchi.mp/495c6ef9e9d2/fall2020externship">
                    <button class="proj-button">Fall 2020 Internship</button></a>
                <a href="https://mailchi.mp/37f365979723/spring-2021-externship-culmination-ceremony">
                    <button class="proj-button">Spring 2021 Internship</button></a>
                <a href="https://drive.google.com/file/d/1bLUPsS_M68FoCaOr89ae2GShUWVn978N/view">
                    <button class="proj-button">Copywriting Example</button></a>
            </span>
        </div>
        <div class="proj-text fade-in cascade" style="--order: 2">
            <p>Instagram is such a useful tool to interact with consumers and to 
                promote new products. Something I have learned is taking into account the 
                company's aesthetic in order to keep a identifiable theme across their brand.
                One cohesive voice, posting schedule, and appearance to your social media accounts 
                keeps a recognizable brand for customers.
            </p>
        </div>
        <div>
            <div class="gallery-container fade-in cascade" style="--order: 3">
                <div class="gallery-item">
                    <img class="gallery-img" src="img/sampleig1.png">
                    <p class="gallery-txt-style">This post for Instagram is used to promote 
                        a beauty company's new eye cream and highlights one of its qualities
                        which is to make the undereyes brighter.
                    </p>
                </div>
                <div class="gallery-item">
                    <img class="gallery-img" src="img/HairOil.png">
                    <p class="gallery-txt-style">When it comes to featuring a new product,
                        I find that it is important to list out the specific features of
                        why a customer may need it.
                    </p>
                </div>
                <div class="gallery-item">
                    <img class="gallery-img" src="img/sampleig2.png">
                    <p class="gallery-txt-style">Using catchy phrases when speaking to your
                        brand's following is cheesy but also appealing, showing that
                        this new product was made for them.
                    </p>
                </div>
                </div>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>