<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head_content.ejs")%>
        <title>Projects – Marketing and Web Design</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" type="img/png" href="img/tablogo.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs")%>
        <hr>
        <div class="col-wrapper fade-in ">
            <div class="title-projects">
                Marketing Projects
            </div>
            <span>
                <a href="https://mailchi.mp/495c6ef9e9d2/fall2020externship">
                    <button class="proj-button">Fall 2020 Internship</button></a>
                <a href="https://mailchi.mp/37f365979723/spring-2021-externship-culmination-ceremony">
                    <button class="proj-button">Spring 2021 Internship</button></a>
                <a href="https://drive.google.com/file/d/1bLUPsS_M68FoCaOr89ae2GShUWVn978N/view">
                    <button class="proj-button">Copywriting Example</button></a>
            </span>
        </div>
        <div class="proj-text fade-in cascade" style="--order: 2">
            <p>Instagram is such a useful tool to interact with consumers and to 
                promote new products. Something I have learned is taking into account the 
                company's aesthetic in order to keep a identifiable theme across their brand.
                One cohesive voice, posting schedule, and appearance to your social media accounts 
                keeps a recognizable brand for customers.
            </p>
        </div>
        <div>
            <div class="gallery-container fade-in cascade" style="--order: 3">
                <div class="gallery-item">
                    <img class="gallery-img" src="img/sampleig1.png">
                    <p class="gallery-txt-style">This post for Instagram is used to promote 
                        a beauty company's new eye cream and highlights one of its qualities
                        which is to make the undereyes brighter.
                    </p>
                </div>
                <div class="gallery-item">
                    <img class="gallery-img" src="img/HairOil.png">
                    <p class="gallery-txt-style">When it comes to featuring a new product,
                        I find that it is important to list out the specific features of
                        why a customer may need it.
                    </p>
                </div>
                <div class="gallery-item">
                    <img class="gallery-img" src="img/sampleig2.png">
                    <p class="gallery-txt-style">Using catchy phrases when speaking to your
                        brand's following is cheesy but also appealing, showing that
                        this new product was made for them.
                    </p>
                </div>
                </div>
                <div class="proj-text fade-in cascade" style="--order: 4">
                    <p>Utilizing Instagram stories is valuable to reach your audience with anything ranging 
                        from updates with your brand, new posts, and even events. It is quick, simple and effective. 
                        I created some examples of potential Instagram stories using the clothing brand Reformation as 
                        an example.
                    </p>
                </div>
                <div class="gallery-container fade-in cascade" style="--order: 5">
                    <div class="gallery-item">
                        <img class="gallery-img" src="img/Ref1.png">
                        <p class="gallery-txt-style">The first story is designed to highlight their new line of winter 
                            clothing to attract customers to update their wardrobe for the colder weather. 
                            Their audience may not be aware of all of the new clothing so this story gives them a taste of 
                            the cute new pieces for the season. Using stories, they are able to announce the update on their 
                            website and even put out a link for people to click on and shop. Stories are quick, simple, and
                            effective when trying to spread a message to your socials.
                        </p>
                    </div>
                    <div class="gallery-item">
                        <img class="gallery-img" src="img/Ref2.png">
                        <p class="gallery-txt-style">This second story post is a cute way to notify your followers that
                            you have a new post. I have found that a lot of people will religiously view stories instead of their feed.
                            Posting stories can bring the audience's attention to your new post if they have not seen it. 
                            I have seen many accounts promote their new posts by simply just reposting it to their story 
                            with a plain background. Take your account to the next level by creating unique and eyecatching 
                            story posts.
                        </p>
                    </div>
                    <div class="gallery-item">
                        <img class="gallery-img" src="img/Ref3.jpg">
                        <p class="gallery-txt-style">This final story is designed to display a huge part of Reformation's 
                            mission. Every year, Reformation takes the time to write up a sustainability report in order to 
                            show their impact on the environment. The purpose of this story is to one, show that 
                            Reformation cares about their carbon footprint and two, give their followers a clickable link 
                            to check out the report for 2022. This is an easy way to share links to Instagram rather than 
                            relying on people to click on the link in your bio.
                        </p>
                    </div>
                    </div>
                    <div class="proj-text fade-in cascade" style="--order: 6">
                        <p>These are just a few examples of work I have done for socials. I have many more but I wanted to try 
                            to keep this page short and sweet.
                        </p>
                    </div>
        </div>
        <%- include("./partials/bottom_nav.ejs")%>
    </body>
</html>